{% extends "organizer/base_generic.html" %}

{% block content %}
    <div class="row">
    <div class="col">

    </div>
    </div>
  <p>Auf Wiedersehen!</p>
  <a href="{% url 'login'%}">Klicke hier, um Dich wieder anzumelden.</a>
{% endblock %}
