{% extends "organizer/base_generic.html" %}

{% block styles %}
    <link rel="stylesheet" href="/static/css/login_form.css">
{% endblock %}

{% block content %}
    <div class="row login-form-row">
        <div class="col-md-6 col-md-lg-6 col-xl-6 col">
            <h1>Anmelden</h1>
            {% if form.errors %}
                <p>Diese Kombination aus Benutzername und Kennwort ist uns leider nicht bekannt!</p>
            {% endif %}
            {% if next %}
                {% if user.is_authenticated %}
                    <p>Anscheinend hast Du keine Berechtigung, diese Seite zu sehen. Tut uns leid!</p>
                {% endif %}
            {% endif %}
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}

                <div class="form-group">
                    <label for="login-username">Benutzername</label>
                    <input type="text" class="form-control" name="username" id="login-username"
                           placeholder="Dein Benutzername">
                </div>

                <div class="form-group">
                    <label for="login-password">Passwort</label>
                    <input type="password" class="form-control" name="password" id="login-password"
                           placeholder="Dein Passwort">
                </div>

                <input type="submit" value="Anmelden" class="btn btn-primary"/>
                <input type="hidden" name="next" value="{{ next }}"/>
            </form>
            {# Assumes you setup the password_reset view in your URLconf #}
            {# <p><a href="{% url 'password_reset' %}">Passwort vergessen?</a></p> #}

        </div>
    </div>
{% endblock %}
