.content-block {
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 100vh;
}

h1, h2, h3, h4, h5 {
    text-align: center;
}

.badge {
    font-size: 100%;
}

.footer-link {
    font-size: 0.85rem;
}

#footer-claim {
    margin: 0 10px;
    font-style: italic;
    color: rgb(255, 224, 57);
}

.card {
    margin-bottom: 20px;
}
