.event-selection-icon {
    font-size: 2.0rem;
    display: none;
}

.event-selection-icon.evt-selected {
    display: inline;
}

.event-table {
    cursor: default;
    text-align: center;
}


.event-table #tr-current-user td {
    cursor: pointer;
}

.event-date-option-id, .event-id {
    display: none;
}

.disable-selection {
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer */
   -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}