form.createTimelineEntry .form-group {
    margin-bottom: 0.5rem;
}

.row.createTimelineEntry {
    margin-bottom: 15px;
    margin-top: 10px;
}

.row.createTimelineEntry p {
        text-align: center;
}

.not-confirmed {
    justify-content: center;
}

.unconfirmed-members-headline {
    font-weight: bold;
}

.unconfirmed_member {
    display: flex;
    flex-direction: column;
}

.unconfirmed_member>.form-check-input {
    align-self: flex-end;
}

.unconfirmed-members-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.unconfirmed-members-buttons button {
    align-self: flex-end;
    margin: 0 10px;
}

#groupPageTabs {
    margin-bottom: 30px;
}