h1 {
    text-align: center;
}

.row.homepage {
    justify-content: center;
}

.homepage img {
    width: 100%;
    transition: opacity 2s;
    opacity: 1.0;
}

.image-col:hover img {
    opacity: 0.2;
}

.image-col:hover .image-overlay {
    display: block;
    opacity: 1.0;
}

.image-overlay {
    transition: opacity 2s;
    opacity: 0.0;
    padding: 0% 15%;
    position: absolute;
    top: 35%;
    font-size: 1.3rem;
    color: black;
}

@media (hover: none) {
    .image-col .image-overlay {
        opacity: 1.0;
        position: relative;
        top: auto;
    }

    .image-col img {
        opacity: 0.2;
    }

}