input[type="text"] {
    text-align: left;
    display: block;
}

form {
    text-align: center;
}

#interactive-map {
    height: 75vh;
    width: 100%;
}

@media (max-width: 767px) {
    #interactive-map {
        height: 57vh;
    }
}

.interactive-map-col {
    display: flex;
    justify-content: center;
}

.leaflet-popup-content img {
    width: 230px;
}

.map-popup-name {
    font-weight: bold;
}

.map-popup-address {
    font-style: italic;
}

button, input {
    margin: 5px 5px;
}

#locationQuery {
    display: none;
}

#submitLocationQuery {
    display: block;
}