<form action="/scheduler/add-event" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="eventName">Name des Termins</label>
        <input class="form-control" type="text" id="eventName" name="eventName">
    </div>
    <div class="form-group">
        <label for="eventLocation">Ort des Termins</label>
        <input class="form-control" type="text" id="eventLocation" name="eventLocation">
        <a href="{% url 'organizer:location-finder' %}?groupId={{ groupId }}" class="btn btn-info form-control">Jetzt einen Ort suchen!</a>
    </div>
    <div class="form-group">
        <label for="eventDescription">Beschreibung des Termins</label>
        <textarea class="form-control" id="eventDescription" name="eventDescription"></textarea>
    </div>
    <div class="form-group">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="choose_one_date" id="findDate" value="findDate"
                   checked>
            <label class="form-check-label" for="inlineRadio1">Einen Termin finden</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="choose_one_date" id="multipleDates"
                   value="multipleDates">
            <label class="form-check-label" for="inlineRadio2">Terminserie erstellen</label>
        </div>
    </div>
    <label for="dateTimes">Wann kann der Termin stattfinden?</label>
    <div id="dateTimes">
        {% include 'organizer/event-option-form.html' %}
    </div>

    <div class="form-group">
        <button type="button" class="btn btn-success plus-button" id="addEventDateTime">Option hinzufügen</button>
        <button type="button" class="btn btn-danger minus-button" id="removeEventDateTime">Option entfernen</button>
    </div>
    <input type="hidden" name="groupId" value="{{ group.id }}">
    <button type="submit" class="btn btn-primary">Losplanen</button>
</form>