{% load custom_tags %}

<form method="post" action="/groups/create/">
    {% csrf_token %}
    <div class="form-group">
        <label for="group_name_create">Gruppen-Name</label>
        <input type="text"
               class="form-control {% if messages|get_matching_error_messages:'create_group'|length > 0 %}is-invalid{% endif %}"
               id="group_name_create" name="group_name" required>
        {% for message in messages|get_matching_error_messages:'create_group' %}
            <div class="invalid-feedback">
                {{ message }}
            </div>
        {% endfor %}
        <small id="group_name_create_help" class="form-text text-muted">
            Den Gruppennamen benötigen andere plan-los-Nutzer, um Deiner Gruppe später beitreten zu können!
        </small>
    </div>
    <div class="form-group">
        <button type="submit" class="form-control btn btn-primary">Gruppe erstellen</button>
    </div>
</form>