<div class="createTimelineEntry row">
    <div class="col">
        <p>
            <button class="btn btn-secondary" type="button" data-toggle="collapse"
                    data-target="#collapseCreateTimelineEntry" aria-expanded="false"
                    aria-controls="collapseCreateTimelineEntry">
                Beitrag verfassen &#9997;
            </button>
        </p>
        <div class="collapse" id="collapseCreateTimelineEntry">
            <div class="card card-body">
                <form method="post" class="createTimelineEntry" action="/groups/create-timeline-posting/">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="createTimelineEntryFormHeadline">Titel</label>
                        <input type="text" class="form-control" name="headline" id="createTimelineEntryFormHeadline"
                               placeholder="Titel" required>
                    </div>
                    <div class="form-group">
                        <label for="createTimelineEntryFormText">Text</label>
                        <textarea class="form-control" id="createTimelineEntryFormText" name="text" rows="5" required></textarea>
                    </div>
                    <input type="hidden" id="createTimelineEntryFormGroup" name="group" value="{{ group }}">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Los!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>