{% extends "organizer/base_generic.html" %}

{% block styles %}
    <link rel="stylesheet" href="/static/css/dashboard.css">
{% endblock %}

{% block content %}
    <h1>Dashboard</h1>
    {% if groups|length > 0 %}
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3">
                <h3>Deine Gruppen</h3>
                <ul class="list-group mb-4">
                    {% for group in groups %}
                        <li class="list-group-item"><a href="/groups/detail?g={{ group.name }}">{{ group.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="heading-joinGroup">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-joinGroup"
                                        aria-expanded="true" aria-controls="collapse-joinGroup">
                                    Einer Gruppe beitreten
                                </button>
                            </h5>
                        </div>

                        <div id="collapse-joinGroup" class="collapse" aria-labelledby="heading-joinGroup"
                             data-parent="#accordion">
                            <div class="card-body">
                                  {% include "organizer/join_group.html" %}
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="heading-createGroup">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-createGroup"
                                        aria-expanded="true" aria-controls="collapse-createGroup">
                                    Eine Gruppe erstellen
                                </button>
                            </h5>
                        </div>

                        <div id="collapse-createGroup" class="collapse" aria-labelledby="heading-createGroup"
                             data-parent="#accordion">
                            <div class="card-body">
                                  {% include "organizer/create_group.html" %}
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col">
                <h3>Neuigkeiten</h3>
                {% with with_group_name=1 %}
                    {% include "organizer/timeline.html" %}
                {% endwith %}
            </div>
        </div>
    {% else %}
        <div class="row mb-4">
            <div class="col text-center">
                Du bist zur Zeit noch kein Mitglied in einer Gruppe! Trete jetzt einer Gruppe bei und plane los!
                Oder gründe noch heute Deine eigene Gruppe!
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>Einer Gruppe beitreten</h3>
                {% include  "organizer/join_group.html" %}
            </div>
            <div class="col">
                <h3>Eine Gruppe erstellen</h3>
                {% include "organizer/create_group.html" %}
            </div>
        </div>
    {% endif %}
{% endblock %}
