{% extends "organizer/base_generic.html" %}
{% load crispy_forms_tags %}

{% block content %}
    {% include 'organizer/messages.html' with messages=messages %}
    <h2>Deinen Account bearbeiten</h2>
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md">
                {{ form.username|as_crispy_field }}
            </div>
            <div class="col-md">
                {{ form.email|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                {{ form.first_name|as_crispy_field }}
            </div>
            <div class="col-md">
                {{ form.last_name|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                {{ form.street|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                {{ form.zip_code|as_crispy_field }}
            </div>
            <div class="col-md">
                {{ form.city|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                {{ form.country|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                {{ form.phone|as_crispy_field }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Speichern</button>
    </form>

{% endblock %}
