{% extends "organizer/base_generic.html" %}

{% load custom_tags %}

{% block styles %}
    <link rel="stylesheet" href="/static/css/event.css">
{% endblock %}

{% block scripts %}
    <script src="/static/js/event.js" type="module"></script>
{% endblock %}

{% block content %}
    {% include 'organizer/messages.html' %}
    <h2>{{ event.title }} von {{ event.host.first_name }} {{ event.host.last_name }} ({{ event.group.name }})</h2>
    <h3>Ort: {{ event.location }}</h3>
    <p class="text-center">{{ event.description }}</p>
    {% if final_option %}
        <p class="text-center my-4">Diese Terminumfrage ist abgeschlossen. Der Gastgeber hat eine finale Option
            gewählt!</p>
    {% endif %}
    {% csrf_token %}
    <span class="event-id">{{ event.id }}</span>
    <div class="table-responsive">
        <table class="table table-bordered event-table">
            <thead>
            <tr>
                <th scope="col">Name</th>
                {% for edo in event_date_options %}
                    <th scope="col">
                        {% if final_option and final_option.id == edo.id %}
                            <div>✔️ <b>Finale Option</b></div>
                        {% endif %}
                        <div>{{ edo.date }}</div>
                        {% if event.host == request.user %}
                            <form method="post" action="/event/delete-option" class="mt-2">
                                {% csrf_token %}
                                <input type="hidden" name="optionId" value="{{ edo.id }}">
                                <input type="submit" class="btn btn-danger btn-sm" value="Option löschen">
                            </form>
                            {% if event.choose_one_date_option %}
                                <form method="post" action="/event/finalize-option" class="mt-2">
                                    {% csrf_token %}
                                    <input type="hidden" name="optionId" value="{{ edo.id }}">
                                    <input type="submit" class="btn btn-success btn-sm" value="Als final wählen">
                                </form>
                            {% endif %}
                        {% endif %}
                    </th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for member in members %}
                <tr {% if user == member %}id="tr-current-user" class="table-info"{% endif %}>
                    <td>{{ member.first_name }} {{ member.last_name }}</td>
                    {% for edo in event_date_options %}
                        <td class="event-selection-tablecell disable-selection">
                            <span class="event-date-option-id">{{ edo.id }}</span>
                            <span class="event-selection-icon event-selection-no {% if selections|get_item:edo.id|get_item:member.id|edous_get_selection == "NO" %}evt-selected {% endif %}"
                                  data-selection="NO">❌</span>
                            <span class="event-selection-icon event-selection-maybe {% if selections|get_item:edo.id|get_item:member.id|edous_get_selection == "MAYBE" %}evt-selected{% endif %}"
                                  data-selection="MAYBE">❓</span>
                            <span class="event-selection-icon event-selection-yes {% if selections|get_item:edo.id|get_item:member.id|edous_get_selection == "YES" %}evt-selected{% endif %}"
                                  data-selection="YES">✅</span>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            <tr id="event-stat-row"></tr>
            </tbody>
        </table>
    </div>



    {% if event.host == request.user %}
        <button class="btn btn-primary mb-3 mt-4" type="button" data-toggle="collapse" data-target="#collapseAddOption"
                aria-expanded="false" aria-controls="collapseAddOption">
            Terminoption hinzufügen
        </button>

        <div class="collapse" id="collapseAddOption">
            <div class="card card-body">
                <form method="post" action="/event/add-option">
                    {% csrf_token %}
                    {% include 'organizer/event-option-form.html' %}
                    <input type="hidden" name="eventId" value="{{ event.id }}">
                    <input type="submit" class="btn btn-success float-right" value="Option hinzufügen">
                </form>
            </div>
        </div>
    {% endif %}

{% endblock %}