{% load custom_tags %}

<td>Gesamt</td>
{% for edo in event_date_options %}
    <td>
        <div>{{ stat_map|get_item:edo.id|get_item:"YES" }} ✅</div>
        <div>{{ stat_map|get_item:edo.id|get_item:"MAYBE" }} ❓</div>
        <div>{{ stat_map|get_item:edo.id|get_item:"NO" }} ❌</div>
    </td>
{% endfor %}
