<div class="form-group" id="dateTime">
    <div class="card">
        <div class="card-body">
            <label for="date">Datum</label>
            <input class="form-control" type="date" id="date" name="date" required>
            <label for="time">Uhrzeit</label>
            <input class="form-control" type="time" id="time" name="time" required>
        </div>
    </div>
</div>