<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-text" id="footer-claim">plan-los.org</a>
    <a class="navbar-text footer-link" href="{% url 'organizer:imprint' %}">Impressum</a>
    <a class="navbar-text footer-link" href="{% url 'organizer:privacy' %}">Datenschutzerklärung</a>
    <a class="navbar-text footer-link" href="mailto:info@plan-los.org">Kontakt</a>
</nav>