{% extends "organizer/base_generic.html" %}

{% block styles %}
    <link rel="stylesheet" href="/static/css/group_detail.css">
{% endblock %}

{% block content %}
    <h1>{{ group.name }}</h1>
    <div class="row not-confirmed">
            Leider wurde Deine Zugehörigkeit zu dieser Gruppe noch von keinem Gruppenadministrator bestätigt!
    </div>

{% endblock %}