{% extends "organizer/base_generic.html" %}

{% block styles %}
    <link rel="stylesheet" href="/static/css/group_detail.css">
{% endblock %}

{% block scripts %}
    <script src="/static/js/unconfirmed_members.js" type="module"></script>
    <script src="/static/js/group_detail.js" type="module"></script>
{% endblock %}

{% block content %}
    {% include 'organizer/messages.html' with messages=messages %}
    <h1>{{ group.name }}</h1>

    <div class="my-4 text-center">
        <div class="mb-2">Du suchst noch einen Ort für das nächste Gruppenevent?</div>
        <div>
            <a href="{% url 'organizer:location-finder' %}?groupId={{ group.id }}" type="button" class="btn btn-light">📍
                Zum Location-Finder</a>
        </div>
    </div>

    <ul class="nav nav-tabs" id="groupPageTabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="timelineTab" data-toggle="tab" href="#timeline" role="tab"
               aria-controls="timeline"
               aria-selected="true">Timeline</a>
        </li>
        {% if unconfirmed_members|length %}
            <li class="nav-item">
                <a class="nav-link" id="membershipRequestsTab" data-toggle="tab" href="#membershipRequests" role="tab"
                   aria-controls="membershipRequests"
                   aria-selected="false">Beitrittsanfragen<span
                        class="badge badge-danger">{{ unconfirmed_members|length }}</span></a>
            </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" id="membersTab" data-toggle="tab" href="#members" role="tab" aria-controls="members"
               aria-selected="false">Mitglieder</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="scheduleTab" data-toggle="tab" href="#schedule" role="tab"
               aria-controls="schedule"
               aria-selected="false">Termine</a>
        </li>
    </ul>
    <div class="tab-content" id="groupPageTabsContent">
        <div class="tab-pane fade show active" id="timeline" role="tabpanel" aria-labelledby="timelineTab">
            <div class="row">
                <div class="col">
                    {% include "organizer/create_timeline_entry.html" %}
                    {% with with_group_name=0 %}
                        {% include "organizer/timeline.html" %}
                    {% endwith %}
                </div>
            </div>
        </div>
        {% if unconfirmed_members|length %}
            <div class="tab-pane fade" id="membershipRequests" role="tabpanel" aria-labelledby="membershipRequestsTab">
                {% include "organizer/unconfirmed_members.html" %}
            </div>
        {% endif %}
        <div class="tab-pane fade" id="members" role="tabpanel" aria-labelledby="membersTab">
            {% include "organizer/group_member_table.html" %}
        </div>
        <div class="tab-pane fade" id="schedule" role="tabpanel" aria-labelledby="scheduleTab">
            {% include "organizer/schedule.html" with events=events groupId=group.id %}
        </div>
    </div>
{% endblock %}