<div class="table-responsive-xl">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Vorname</th>
            <th scope="col">Nachname</th>
            <th scope="col">Straße</th>
            <th scope="col">PLZ</th>
            <th scope="col">Stadt</th>
            <th scope="col">Land</th>
            <th scope="col">E-Mail</th>
            <th scope="col">Telefon</th>
        </tr>
        </thead>
        <tbody>
        {% for member in confirmed_members %}
            <tr>
                <td>{{ member.first_name }}</td>
                <td>{{ member.last_name }}</td>
                <td>{{ member.street }}</td>
                <td>{{ member.zip_code }}</td>
                <td> {{ member.city }}</td>
                <td> {{ member.country }}</td>
                <td> {{ member.email }}</td>
                <td> {{ member.phone }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>







