{% extends "organizer/base_generic.html" %}


{% block content %}
<h1>Impressum</h1>

<h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
<p>Lukas Thiell<br />
Eimsb&uuml;tteler Stra&szlig;e 105<br />
22769 Hamburg</p>

<h2>Kontakt</h2>
<p>E-Mail: info@plan-los.org</p>

<p>Quelle: <a href="https://www.e-recht24.de">https://www.e-recht24.de</a></p>
{% endblock %}