{% extends "organizer/base_generic.html" %}

{% block styles %}
    <link rel="stylesheet" href="/static/css/homepage.css">

{% endblock %}

{% block content %}
    <h1>Willkommen zum plan-los.organizer!</h1>

    <div class="row homepage">
        <div class="col col-8 image-col">
            <img src="/static/images/team_silhouette.jpg">
            <div class="image-overlay">
                Du willst mit Deiner alten Schulklasse,
                Deinem Sport-Team, Arbeitskollegen, Familie, Deiner Band oder Deinem Superhelden-Team in Kontakt bleiben, Neuigkeiten teilen und das nächste
                gemeinsame Treffen planen?
                <br>Dann bist Du bei uns genau richtig - melde Dich jetzt an und plan-los!
            </div>
        </div>

    </div>
{% endblock %}
