{% load custom_tags %}

<form method="post" action="/groups/join/">
    {% csrf_token %}
    <div class="form-group">
        <label for="group_name">Gruppen-Name</label>
        <input type="text"
               class="form-control {% if messages|get_matching_error_messages:'join_group'|length > 0 %}is-invalid{% endif %}"
               id="group_name" name="group_name" required>
        {% for message in messages|get_matching_error_messages:'join_group' %}
            <div class="invalid-feedback">
                {{ message }}
            </div>
        {% endfor %}
        <small id="group_name_help" class="form-text text-muted">
            Bitte gib' hier den exakten Namen der Gruppe ein, der Du beitreten möchtest. Achte auch auf Leerzeichen
            sowie Groß- und Kleinschreibung! <br><br>Deine Gruppenmitgliedschaft muss anschließend zunächst vom
            Gruppenadministrator bestätigt werden.
        </small>
    </div>
    <div class="form-group">
        <button type="submit" class="form-control btn btn-primary">Beitreten</button>
    </div>
</form>