{% extends "organizer/base_generic.html" %}
{% load l10n %}

{% block styles %}
    <link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css"
          type="text/css">
    <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
    <link rel="stylesheet" href="/static/css/map_playground.css">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
            integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
            crossorigin=""></script>
{% endblock %}

{% block scripts %}
    <script src="/static/js/location_finder.js" type="module"></script>
{% endblock %}

{% block content %}
    <h1>Location-Finder</h1>
    <p class="lead text-center">Finde jetzt den perfekten Ort für Euer nächstes Gruppen-Event!</p>
    <div class="row">
        <div class="col interactive-map-col">
            <div id="interactive-map">
                <script>
                    var mymap;
                    mymap = L.map('interactive-map');
                    {% if map_center %}
                        mymap.setView([{{map_center.center.lat|unlocalize}}, {{map_center.center.lon|unlocalize}}], 13);
                    {% else %}
                        mymap.setView(['53.545778', '9.968545'], 15);
                    {% endif %}

                    {% if yelp %}
                        {% for bu in yelp.businesses %}
                            var buMarker = L.marker([{{bu.coordinates.latitude|unlocalize}}, {{bu.coordinates.longitude|unlocalize}}]).addTo(mymap);
                            var popupDOMWithoutNewLines = `{% include 'organizer/map_popup_content.html' with bu=bu group_name=group.name %}`;
                            buMarker.bindPopup(popupDOMWithoutNewLines);
                        {% endfor %}
                    {% endif %}


                    {% if map_center %}
                        var group_center_circle = L.circle([{{map_center.center.lat|unlocalize}}, {{map_center.center.lon|unlocalize}}], {
                            color: 'red',
                            fillColor: '#f03',
                            fillOpacity: 0.3,
                            radius: 1000
                        }).addTo(mymap);
                        {% if map_center.caption %}
                            group_center_circle.bindPopup("{{map_center.caption}}").openPopup();
                        {% endif %}
                    {% endif %}


                    L.tileLayer('https://tile.openstreetmap.de/tiles/osmde/{z}/{x}/{y}.png',
                        {
                            attribution: 'Daten von <a href="http://www.openstreetmap.org/">OpenStreetMap</a> - Veröffentlicht unter <a href="http://opendatacommons.org/licenses/odbl/">ODbL</a>',
                            maxZoom: 19
                        }).addTo(mymap);

                    const setCurrentMapCenterInput = function () {
                        document.querySelector("#currentMapCenter").value = mymap.getCenter();
                    };

                    const addMoveEndListener = function () {
                        mymap.addEventListener("moveend", setCurrentMapCenterInput);
                        setCurrentMapCenterInput();
                    };
                    document.addEventListener("DOMContentLoaded", addMoveEndListener);
                </script>
            </div>

        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-12">
            <div class="card">
                <div class="card-header">
                    Ort suchen
                </div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="locationTypeDropdown"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Kategorie wählen
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item category" id="category-restaurant" href="#">Restaurant</a>
                        <a class="dropdown-item category" id="category-cafe" href="#">Café</a>
                        <a class="dropdown-item category" id="category-bar" href="#">Bar</a>
                        <a class="dropdown-item category" id="category-club" href="#">Club</a>
                        <a class="dropdown-item category" id="category-bowling" href="#">Bowling</a>
                        <a class="dropdown-item" id="category-own" href="#">Eigene Kategorie</a>
                    </div>
                </div>
                <form method="get" action="{% url 'organizer:location-finder/search' %}">
                    <div class="form-group">
                        <input type="hidden" id="currentMapCenter" name="currentMapCenter">
                        <input type="hidden" id="groupId" name="groupId" value="{{ group.id }}">
                        <input type="text" id="locationQuery" name="locationQuery"
                               placeholder="Eigene Kategorie">
                        <input type="submit" class="btn btn-primary" id="submitLocationQuery" value="Suchen">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}