<div class="map-popup-name">
    <a href='{{ bu.url }}' target='_blank'>{{ bu.name }}</a>
</div>
<div>
    <a href="{% url 'organizer:groupDetail' %}?g={{ group_name }}&tab=schedule&eventLocation={{ bu.name }}, {% for dap in bu.location.display_address %}{{ dap }}{% if forloop.counter < bu.location.display_address|length %}, {% endif %}{% endfor %}"
       class="btn btn-outline-dark btn-sm">Termin an diesem Ort erstellen</a>
</div>
<div>
    {% for category in bu.categories %}
        {{ category.title }}{% if forloop.counter < bu.categories|length %},{% endif %}
    {% endfor %}
</div>
<div>
    Bewertung: {{ bu.rating }}/5
</div>
<div class="map-popup-address">
    {% for dap in bu.location.display_address %}
        {{ dap }}{% if forloop.counter < bu.location.display_address|length %},{% endif %}
    {% endfor %}
</div>
<a href='{{ bu.url }}' target='_blank'>
    <img src='{{ bu.image_url }}' alt='{{ bu.name }}'>
</a>