{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %}
            <div class="alert alert-success">
                <a class="close" data-dismiss="alert">×</a>
                {{ message|safe }}
            </div>
        {% elif message.tags == 'error' %}
            <div class="alert alert-danger">
                <a class="close" data-dismiss="alert">×</a>
                {{ message|safe }}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}