<nav class="navbar navbar-dark bg-dark navbar-expand-lg sticky-top">
    <a class="navbar-brand" href="/">
        <img src="/static/images/plan-los-p.svg" width="30" height="30" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'organizer:dashboard' %}">Dashboard</a>
                </li>
                {% if user.groups.all|length > 0 %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownGroups" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Deine Gruppen
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownGroups">
                            {% for group in user.groups.all %}
                                <a class="dropdown-item" href="/groups/detail?g={{ group.name }}">{{ group.name }}</a>
                            {% endfor %}
                        </div>
                    </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUser" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ user.get_username }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownUser">
                        <a class="dropdown-item" href="{% url 'organizer:edit_account' %}">Account bearbeiten</a>
                        <a class="dropdown-item" href="{% url 'logout' %}?next={{ request.path }}">Abmelden</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}?next={{ request.path }}">{{ user.get_username }}
                        Anmelden</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'organizer:signup' %}">
                        Registrieren</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
