<link rel="stylesheet" href="/static/css/schedule.css">
<script src="/static/js/schedule.js"></script>

<div class="row">
    <div class="col">
        {% if events|length > 0 %}
            {% for evt in events %}
                <div class="card text-center">
                    <div class="card-header">
                        {{ evt.host.first_name }} {{ evt.host.last_name }}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><a
                                href="{% url 'organizer:show_event_detail' %}?eventId={{ evt.id }}">{{ evt.title }}
                            ({{ evt.location }})</a></h5>
                        <p class="card-text">{{ evt.description }}</p>
                    </div>
                    {% if evt.host == request.user %}
                        <div class="card-footer text-muted">
                            <form method="post" action="{% url 'organizer:delete_event' %}" class="event-modification-form">
                                {% csrf_token %}
                                <input type="hidden" name="eventId" value="{{ evt.id }}">
                                <input type="submit" role="button" class="btn btn-danger" value="Löschen">
                            </form>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            Zurzeit sind für diese Gruppe keine Termine geplant! Plane noch heute los!
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col">
        <button type="button" class="btn btn-primary" id="btnScheduleNewEvent">Neuen Termin planen</button>
        <div id="areaScheduleNewEvent">
            {% include "organizer/add-event.html" with groupId=groupId %}
        </div>
    </div>
</div>