<div class="card text-center timeline-entry">
  <div class="card-header">
    {{ tle.author.first_name }} {{ tle.author.last_name }}{% if with_group_name == 1 %} ({{ tle.group }}){% endif %}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ tle.headline }}</h5>
    <p class="card-text">{{ tle.text }}</p>
  </div>
  <div class="card-footer text-muted">
   {{ tle.created_at | date:"j. F Y, H:i" }}
  </div>
</div>