<ul class="list-group unconfirmed-members">
    <li class="list-group-item list-group-item-info unconfirmed-members-headline">
         Folgende Benutzer möchten dieser Gruppe beitreten
    </li>
    {% csrf_token %}

    {% for um in unconfirmed_members %}
        <li class="list-group-item unconfirmed_member" data-member-id="{{ um.id }}">
            {{ um.first_name }} {{ um.last_name }}
            <input class="form-check-input" type="checkbox"/>
        </li>
    {% endfor %}
    <li class="list-group-item unconfirmed-members-buttons">
        <button type="button" class="btn btn-danger" id="rejectUnconfirmedMember">Ablehnen</button>
        <button type="button" class="btn btn-success" id="acceptUnconfirmedMember">Akzeptieren</button>
    </li>
</ul>






