{% extends "organizer/base_generic.html" %}

{% block content %}
    <h1 class="mb-4">404</h1></h1>
    <h2>plan-los...</h2>
    <h3>
        <small class="text-muted">...sind wir leider, was Du hier gesucht hast.</small>
    </h3>
    <h3>
        <small class="text-muted">Diese Seite ist uns nicht bekannt. Das tut uns leid!</small>
    </h3>
{% endblock %}